html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

div.results {
    padding: 20px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

select {
  margin: 8px;
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=text] {
  width: 75%;
  float: left;
  margin: 8px;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=button], input[type=submit], input[type=reset] {
  width: 20%;
  border-radius: 4px;
  float: left;
  background-color: #bb0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8b0000;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery p {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.stat {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: #8b0000;
}
