html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

div.results {
    padding: 20px;
}


input[type=text]:focus {
  border: 3px solid #555;
}

input[type=text] {
  width: 75%;
  float: left;
  margin: 8px;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=button], input[type=submit], input[type=reset] {
  width: 20%;
  float: left;
  background-color: #bb0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
}