{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
<nav class = "navbar">
            <a class="active" href="/" title="Data Table">Data Table</a>
            <a href="/plot" title="Statistics">Statistics</a>
            <a href="/resources" title="Resources">Resources</a>
            <form class="navsearch" method="GET" action="/" style="margin:auto;max-width:900px">
              <select id="options" name="options">
                <option value="text">Crime</option>
                <option value="title">Number</option>
                <option value="question">Date</option>
                <option value="subtitle">Location</option>
                <option value="author">Status</option>
              </select>
                <input type="text" placeholder="Search a crime related topic" name="crime">
                <input type="submit" value="search">
            </form>
</nav>
    <br>


<h1><center>Search OSU Crime</center></h1>
<form class="search" method="GET" action="" style="margin:auto;max-width:900px">
    <p>
        <input type="text" placeholder="Search a crime related topic" name="crime">
        <input type="submit" value="search">
    </p>
    <select id="options" name="options" >
        <option value="title">Crime Number</option>
        <option value="question">Crime Date</option>
        <option value="text">Offenses</option>
        <option value="subtitle">Location</option>
        <option value="author">Disposition</option>
    </select>
</form><br>
<p></p>
<div class="results">
  <table style="width:100%" class="sortable">
    <col style="width:10%">
    <col style="width:15%">
    <col style="width:30%">
    <col style="width:15%">
    <col style="width:10%">
    <col style="width:10%">
    <col style="width:10%">
    <tr>
      <th>Crime Number</th>
      <th>Report Date</th>
      <th>Offenses</th>
      <th>Location</th>
      <th>Crime Start</th>
      <th>Crime End</th>
      <th>Disposition</th>
    </tr>
      {% for item in data %}
      <tr>
        <td><a class="link" style="font-weight:bold" href="/crime/{{item.crimeID}}" title="crimeID">{{item.crimeID}}</a></td>
        <td>{{item.reportDate}}</td>
        <td>{{"".join(item.offenses)}}</td>
        <td>{{item.location}}</td>
        <td>{{item.crimeStart}}</td>
        {% if item.crimeEnd%}
        <td>{{item.crimeEnd}}</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
        <td>{{item.disposition}}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
