{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1><center>Search OSU Crime</center></h1>
<form class="search" method="post" action=""
      style="margin:auto;max-width:600px">
    <input type="text" placeholder="Search a crime related topic" name="crime">
    <p> <input type="submit" value="search">
    </p>
</form>
<p></p>
<center>
    {% for item in data %}

        <p>Crime:
            {% for crime in item.offenses %}
            {{crime}}
            {% endfor %}
            <br>
        Crime Number: {{item.crimeID}}<br>
        Crime Date: {{item.crimeStart}}<br>
        Crime Location: {{item.location}}<br>
        Crime Status: {{item.disposition}}</p>
        <p> </p>
    <p> </p>
    {% endfor %}
</center>
{% endblock %}