{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1><center>Search OSU Crime</center></h1>
<form class="search" method="post" action="">
    <label for="options">Choose a search option:</label>
    <select id="options" name="options">
        <option value="crime">Crime</option>
        <option value="number">Number</option>
        <option value="date">Date</option>
        <option value="location">Location</option>
        <option value="status">Status</option>
    </select>
    <p>
        <input type="text" placeholder="Search a crime related topic" name="crime">
        <input type="submit" value="search">
    </p>
</form>
<p></p>
<div class="results">
    {% for item in data %}

    <p><b>Crime:</b>
            {% for crime in item.offenses %}
            {{crime}}
            {% endfor %}
            <br>
            <b>Crime Number:</b> {{item.crimeID}}<br>
            <b>Crime Date:</b> {{item.crimeStart}}<br>
            <b>Crime Location:</b> {{item.location}}<br>
            <b>Crime Status:</b> {{item.disposition}}</p>
        <p> </p>
    <p> </p>
    {% endfor %}
</div>
{% endblock %}